@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar-brand img{
    height: 7%;
    width: 7%;
}

.navbar bg-primary{
    display: flex;
}

.d-flex button{
    color: black;
    background-color: aqua;
}

.nombre{
    background-color: red;
    color: rebeccapurple;
}

