@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

}
.banner {
    background: url(imagenes/financiera.jpg);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* background-color: red; */

}
.banner-content {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    z-index: 2;
    overflow: hidden;

}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    max-width: 600px;
    overflow: hidden;

}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    transition: all 0.3s ease;
    overflow: hidden;

}
.btn:hover {
    background-color: white;
    color: #170b35;
    overflow: hidden;

}

.banner2{
background-color:#5684c9;
overflow: hidden;
padding-bottom: 50px;
padding-top: 50px;

}

.banner2 h3{
    font-size: 25px;
    color: white;
    text-align: right;
    align-items: center;

}

.banner2 p{
    font-size: 15px;
    color: white;
    text-align: center;
    align-items: center;
    color: white;
}

.texto{
    color: white;
    width: 100%;
    text-align: center;
    background-color: #5684c9;    
    /* display: flex; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.header {
    color: #999;
    margin-bottom: 20px;
}
.titulo h1 {
   font-size: 25px;
    margin-bottom: 20px;
        
}
.titulo{
    width: 100%;

}
.programs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.program {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.program img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.program-content {
    padding: 20px;
}
.program h2 {
    margin-top: 0;
}
.program p {
    margin-bottom: 15px;
}
.explore {
    color: #00a0d2;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.program:hover{
    background-color: #00a0d2;
    transition: 1s;
}
@media (max-width: 768px) {
    .programs {
        flex-direction: column;
    }
    .program {
        flex: 1 1 100%;
    }
}


